 #wrapper {
        min-width: 280px;
        color: #373737!important;
        background-color: #fff!important;
    }
    .dashboard .search-area .btn {
        padding: 10px 16px 12px;
        font-size: 15px;
        text-align: left;
        font-weight: 400!important;
        font-family: font-custom-icons,Lato,sans-serif;
        white-space: pre-wrap;
        word-spacing: -3px;
        border-radius: 25px;
        border: none;
    }
    .btn-block{
        display: block;
    width: 100%;
    }